// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=IBMPlex+Sans:wght@400&display=swap');

body {
  font-family: 'IBMPlex Sans', sans-serif;
  font-size: 16px;
}

.width-960 {
  max-width: 960px;
}
